<!DOCTYPE html>
<HTML>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}} 
        <h2>{{screamIt welcomeMessage}} {{name}}</h2>
        <p>You can crush me but you can't crush my spirit! Humans dating robots is sick. You people wonder why I'm still single? It's 'cause all the fine robot sisters are dating humans! Yes, except the Dave Matthews Band doesn't rock.</p>
        
        {{> footer}} <!-- adding footer partial -->
    </body>
</HTML>